.Container {
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.picProfile {
    width: 100%;
}
.link{
    margin: 5%;
    color:#efefef;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 900;
}
.link :hover {
    margin: 5%;
    color:#efefef;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 1000;
    background-color: #ef8354;
}

.textProfile {
    border-radius: 15px;
    background-color: #ef8354;
    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
    font-weight: 900;
    padding: 90px;
    margin: 5%
}

.wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: space-around;
    max-width: 1200px;
}
.text{
    width: 323px;
}
.tile {
    width: 380px;
    height:380px;
    margin: 10px;
    border-radius: 15px;
    background-color: #ef8354;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    font-family: 'Roboto';
}
.tile a {
    text-decoration: none;
    color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}
.tile img {
    height: 86%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.proyects {
    padding: 30px;
    width: 86%;
    margin:30px;
    border-radius: 15px;
    background: rgb(26, 188, 156);
    background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.tile .text {
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
}

.tile h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
    padding: 30px;
    font-weight: 100;
    margin: 20px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(200px);
}

.tile p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    margin: 30px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;

}

.tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.1;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 1000px) {
    .wrap {
        flex-direction: column;
        width: 400px;
    }
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    ;
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #eeeeee;
}

span a {
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.4s ease-in-out;

}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.container {
    border-radius: 15px;
    background: rgb(26, 188, 156);
    background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    margin-top: 50px;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;


}

.img {
    width: 10%;
    height: auto;
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 20px 40px;
    box-sizing: border-box;
    text-align: center;
}

.devbox {
    width: 100%;
    justify-content: space-between;
}

.devico {
    background-color: #ffffff3a;
    padding: 6px;
    margin: 9px;
    width: 9%;
    border-radius: 15px;
}